<tr id="month_<%= month_show.id %>">
<td><%= month_show.year %>年<%= month_show.month %>月</td>
<td><% if month_show.recognition_request == false %>
    未
    <% else %>
    済
    <% end %>
    </td>
<td><%= link_to '交通費入力', [month_show] %></td>
<td><%= link_to '請求月変更', edit_month_path(month_show) %></td>
<td><%= link_to '削除', [month_show], :confirm => 'Sure?',
                              :method => :delete,
                              :remote => true %>
</td>
</tr>