<h1>請求月</h1>

<table>
<tr>
<td>請求月</td>
<td><%= @month.year %>年<%= @month.month %>月</td>
<td><%= link_to 'Edit', edit_owner_month_path(@owner.id, @month.id) %></td>
</tr>
</table>


<h3>交通費作成</h3>
<%= form_for([@owner, @month, @fare]) do |form| %>
訪問日<%= form.text_field :day %>
訪問先<%= form.text_field :visiting_company %>
出発駅<%= form.text_field :start_station %>
到着駅<%= form.text_field :arrival_station %>
運賃<%= form.text_field :fare %>
領収書<%= form.select :recipt,[["有", "1"],["無", "0"]] %>
交通手段<%= form.select :vehicle,[["電車・地下鉄", "0"],["タクシー", "1"],["新幹線", "2"],["バス", "3"],["飛行機", "4"],["その他", "5"]] %>
<%= form.submit %>
<% end %>

<h3>記入済交通費</h3>
<% if @month.fares.any? %>
<table>
<% @month.fares.each do |one| %>
<tr id="fare_<%= one.id %>">
<td><%= one.day %>日</td>	
<td>訪問先<%= one.visiting_company %></td>
<td>出発駅<%= one.start_station %></td>
<td>到着駅<%= one.arrival_station %></td>
<td><%= one.fare %>円</td>
<td>領収書：<% if one.recipt == 1 %>
	         有
	       <% else %>
             無
　　　　　　 <% end %>
</td>
<td>交通手段：<% if one.recipt == 0 %>
	          電車・地下鉄
　　　　　　  <% elsif one.recipt == 1 %>
              タクシー
            <% elsif one.recipt == 2 %>
              新幹線
            <% elsif one.recipt == 3 %>
              バス
            <% elsif one.recipt == 4 %>
              飛行機
            <% elsif one.recipt == 5 %>
              その他
　　　　　　  <% end %>
</td>
<td><%= link_to 'Edit', edit_owner_month_fare_path(@owner.id, @month.id, one.id) %></td>
<td><%= link_to 'Destroy', owner_month_fare_path(@owner.id, @month.id, one.id), :confirm => 'Sure?',
                                                                                :method => :delete,
                                                                                :remote => true %>
</td>
</tr>
<% end %>
</table>
<% else %>
登録された請求月がありません
<% end %>

<%= button_to "申請", :action => "application", :owner_id => @owner.id, :id => @month.id, :recognition_request => 1 %>
<%= link_to 'Back', "../" %>

<script>
  $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr) {
    $('#fare_'+data.one.id).fadeOut("slow");
  });
</script>