<%= render(:partial => "header") %>
Hello! <%= current_user.email %>
<h2><%= @month.year %>年<%= @month.month %>月</h2>

申請状況：
  <% if @month.recognition_request == false %>
    未申請
  <% else %>
    申請済
  <% end %>

<h3>交通費作成</h3>
<%= render 'fare_form' %>

<h3>記入済交通費</h3>
<% if @fares.any? %>
<table class="table table-hover">
<tr>
<td width="30"></td> 
<td>訪問先</td>
<td>訪問目的</td>
<td>出発駅</td>
<td>到着駅</td>
<td width="50">運賃</td>
<td>領収書</td>
<td>交通手段</td>
<td></td><td></td>
</tr>
<%= render(:partial => "fares", :collection => @fares) %>
</table>
<% else %>
登録された請求月がありません
<% end %>

<% if @month.recognition_request == false %>
  <%= button_to "申請", { :action => "application", :id => @month.id }, :method => :put, :class => "btn btn-primary" %>
<% else %>
  <%= button_to "申請を取り下げる", { :action => "withdrawn", :id => @month.id }, :method => :put, :class => "btn btn-danger" %>
<% end %>

<%= link_to 'Back', months_path %>

<script>
  $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr) {
    $('#fare_'+data.one.id).fadeOut("slow");
  });
</script>

<script type="text/javascript">
  var validation = $(".new_fare")
    .exValidation({
      firstValidate: true,
      rules: {
        fare_day: "chkrequired chknumonly chkmin2",
        fare_visiting_company: "chkrequired",
        fare_visiting_purpose: "chkrequired",
        fare_start_station: "chkrequired",
        fare_arrival_station: "chkrequired",
        fare_fare: "chkrequired chknumonly"
      },
      stepValidation: true,
      errFocus: true
    });
</script>