<%= render(:partial => "admin_header") %>
Hello! <%= current_admin.email %>
<h3>確認及び承認画面</h3>
<%= @month.year %>年<%= @month.month %>月<br>
<% if @fare_show.any? %>
<table class="table table-hover">
  <tr>
    <td width="30"></td> 
    <td>訪問先</td>
    <td>訪問目的</td>
    <td>出発駅</td>
    <td>到着駅</td>
    <td width="50">運賃</td>
    <td>領収書</td>
    <td>交通手段</td>
    <td></td><td></td>
  </tr>
  <%= render(:partial => "fare_show", :collection => @fare_show) %>
</table>
<p id="fare_sum">合計：<%= number_to_currency(@fare_sum, :precision =>0, :format=>"%n%u", :unit=>"円") %></p>
<% else %>
登録された交通費がありません
<% end %>

<% if @month.recognition_state == 0 %>
  <%= button_to "承認", { :action => "recognition", :id => @month.id }, :method => :put, :class => "btn btn-primary" %>
  <%= button_to "差し戻し", { :action => "rejection", :id => @month.id }, :method => :put, :class => "btn btn-danger" %>
<% elsif @month.recognition_state == 1 %>
  <%= button_to "差し戻し", { :action => "rejection", :id => @month.id }, :method => :put, :class => "btn btn-danger" %>
<% else %>
  <%= button_to "承認", { :action => "recognition", :id => @month.id }, :method => :put, :class => "btn btn-primary" %>
<% end %>

<%= link_to 'Back', recognitions_path %>