<h3>記入済交通費一覧</h3>
<% if @fare_show.any? %>
<table>
<% @fare_show.each do |one| %>
<tr>
<td><%= one.day %>日</td>	
<td>訪問先<%= one.visiting_company %></td>
<td>出発駅<%= one.start_station %></td>
<td>到着駅<%= one.arrival_station %></td>
<td><%= one.fare %>円</td>
<td>領収書：<% if one.recipt == 1 %>
	         有
	       <% else %>
             無
　　　　　　 <% end %>
</td>
<td>交通手段：<% if one.vehicle == "0" %>
	          電車・地下鉄
　　　　　　  <% elsif one.vehicle == "1" %>
              タクシー
            <% elsif one.vehicle == "2" %>
              新幹線
            <% elsif one.vehicle == "3" %>
              バス
            <% elsif one.vehicle == "4" %>
              飛行機
            <% elsif one.vehicle == "5" %>
              その他
　　　　　　  <% end %>
</td>
<td>month_id:<%= one.month_id %></td>
</tr>
<% end %>
</table>
<% else %>
登録された請求月がありません
<% end %>