<h1>申請者一覧</h1>
<%= link_to('Sign out', [ :destroy, :user_session ], :method => :delete, :class => 'signOut') if current_user %>
<% if @owner.present? %>
<table>
<tr><td>名前</td></tr>
<% @owner.each do |owner| %>
  <tr id="owner_<%= owner.id %>">
    <td><%= owner.name %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, :method => :delete,
                                      :confirm => 'Sure?',
                                      :remote => true %></td>
  </tr>
<% end %>
</table>
<% else %>
Ownerが1件も登録されていません
<% end %>

<br />

<%= link_to 'New Owner', new_owner_path %>

<script>
  $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr) {
    $('#owner_'+data.owner.id).fadeOut("slow");
  });
</script>