<%= render(:partial => "accounting_header") %>
Hello! <%= current_accounting.email %><br>
<h2>請求確認画面</h2>
<h3>承認済み一覧</h3>
<% if @authorize.present? %>
<table class="table table-hover">
<tr>
  <td width="80"></td>
  <td width="150">メールアドレス</td>
  <td>承認日時</td><td></td>
</tr>
<% for authorize in @authorize %>
<tr>
<td width="80"><%= authorize.year %>年<%= authorize.month %>月</td>
<td width="150"><% user_name = User.find(authorize.user_id) %>
    <% if user_name == nil %>
    ユーザが存在しません
    <% else %>
    <%= user_name.email %>
    <% end %></td>
    <td><%= authorize.updated_at %></td>
    <td><%= link_to "交通費詳細へ", {:action => 'expenses_check', :id => authorize.user.id} %></td>
</tr>
<% end %>
</table>
<% else %>
承認済みの請求月はありません
<% end %>